@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300;400;500&display=swap');


*, ::before, ::after{
    box-sizing: border-box;
}

* a{
    text-decoration: none;
    color: black;
}

body{
    margin: 0%;
    font-family: "Roboto", sans-serif;
}


h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
}

p{
    margin: 0;
}

.menus, .functioning-menu {
    padding: 0 1rem;
}

