@import "../utils/variables.scss";
@import "../utils/colors";

main .city{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.5rem ;
    background-color: $main-strong-color;
    padding: 0.3rem;
    & i{
        font-size: 1.5rem;
    }
}