@import "../utils/box-shadow.scss";

.explore{
    text-align: center;
    background-color: rgba(211, 211, 211, 10%);
    padding-bottom: 3rem;

    & h2{
        margin: 0;
        padding: 2rem 0;
        font-size: 2rem;
    }
    
    & p{
        font-size: 1rem;
    }
    
    & button{
        color: white;
        font-weight: 300;
        padding: 1rem 2rem;
        background-image: linear-gradient( to top, rgb(191, 3, 191), rgb(255, 167, 237));
        border: none;
        border-radius: 30px;
        @include base-shadow;
        transition: transform 200ms;
        padding-top: 1rem;
    }
    
    & button:hover{
        transform: scale(1.02);
        opacity: 0.9;
    }
}