@import "../utils/colors";
@import "../utils/variables";
@import "../utils/mixins";

.explore{
    text-align: center;
    background-color: $main-primary-color;
    padding-bottom: 3rem;
    margin-bottom: 40px;

    & h2{
        margin: 0;
        padding: 2rem 0;
        font-size: 2rem;
    }
    
    & p{
        font-size: 1rem;
    }
    
    & button{
        @include base-button;
    }
    
    & button:hover{
        @include grow-up;
        opacity: 0.9;
    }
}

.loader{
    $animation-duration: 2s;
    display: grid;
    place-items: center;
    z-index: 1;
    position: fixed; // z-index rules disable with "static" default position value
    background-color: whitesmoke;
    height: 100vh;
    inset: 0; // = 4 properties-> top bottom left right;
    opacity: 0.9;
    animation: disappear 300ms;
    animation-fill-mode: both; //set beginning and ending animation;
    animation-delay: $animation-duration;
    transform-origin: top;
    & i{
        animation: spin $animation-duration ease-in-out;
        color: $tertiary-color;
    }
}

