@import "../utils/box-shadow.scss";
@import "../utils/grow-up.scss";
@import "../utils/variables.scss";

.functioning-menu{
    
    & ol{
        padding-left: 15px;
        list-style-type: none;
        display: flex;
        gap: 1rem;
        @media (max-width:$breakpoint) {
            flex-direction: column;
        }
        & li{
            background-color: $main-primary-color;
            padding: 1rem 2rem;
            flex-grow: 1;
            border-radius: 10px;
            padding: 1.5rem 2rem;
            @include base-shadow;
            & span{
                padding: 0.4rem 0.65rem;
                color: white;
                background-color: $primary-color;
                border-radius: 30px;
                position: relative;
                left: -40px;
            }
            & i.fa-solid{
                
                position: relative;
                left: -20px;
                color: $main-strong-color;    
            }
            &:hover{
                @include grow-up;
                background-color: rgba(184, 101, 211, 0.2);
            }
        }   
    }
}