@import "../utils/colors";
@import "../utils/variables";
@import "../utils/mixins";



.menus{
    background-color: $main-primary-color;
    padding-bottom: 80px;
    
    h2{
        margin-top: 70px;
        padding-top: 3rem;
        padding-bottom: 1rem;
    }
    .menus__cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        @media (max-width:$breakpoint) {
            grid-template-columns: repeat(1, 1fr);
        }
        .new{
            position: relative;
        }
        .new::before {
            content: "nouveau";
            position: absolute; /* parent=relative -> child=absolute */
            height: 2rem;
            width: 5rem;
            background-color: $tertiary-color;
            color: darken($tertiary-color, 50%);
            display: grid;
            place-items:center;
            top: 1.5rem;
            right: 1.5rem; 
        }
    }
    
    .card{
        border-radius: 2rem ;
        background-color: white;
        @include base-shadow;
      
        &__image{
            height: 15rem;
            border-radius: 2rem 2rem 0 0;
            background-size: cover; 
            /* have to use this property with css background img, 
            object fit only available for html insert img */   
        }

        @for $i from 1 through 4 {
            &__image-#{$i}{
                background-image: url(Ohmyfood/Assets/menu-#{$i}.jpg);
            }
        }

        &__description{
            position: relative;
            
            
            h3,p{
                margin: 0.5rem;
                margin-left: 1rem;
            }

            i {
                font-size: 2rem;
                position: absolute;
                right: 1rem;
                top: 50%; /* half height parent */
                transform: translateY(-50%); /* half Y-size element */
            }
            .fa-solid{
                color: transparent;
                background-image: linear-gradient(to top,$primary-color, $secondary-color);
                background-clip: text ;
                -webkit-background-clip: text;
                opacity: 0;
                transition: all 200ms;
                &:hover.fa-solid{
                    opacity: 1;
                }
            }
            
        }
        
    }
}

