@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300;400;500&display=swap");
*, ::before, ::after {
  box-sizing: border-box; }

* a {
  text-decoration: none;
  color: black; }

body {
  margin: 0%;
  font-family: "Roboto", sans-serif; }

h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0; }

p {
  margin: 0; }

.menus, .functioning-menu {
  padding: 0 1rem; }

/* BACKGROUND COLORS */
/* BUTTONS AND :: COLORS */
/* BREAKPOINTS */
header {
  font-family: 'Shrikhand', cursive;
  text-align: center;
  box-shadow: 0px 15px 19px -14px rgba(0, 0, 0, 0.38);
  padding: 0.3rem;
  margin: 0;
  position: relative; }

/* BACKGROUND COLORS */
/* BUTTONS AND :: COLORS */
/* BREAKPOINTS */
main .city {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
  background-color: rgba(0, 0, 0, 0.077);
  padding: 2.3rem; }
  main .city i {
    font-size: 1.5rem; }

/* BACKGROUND COLORS */
/* BUTTONS AND :: COLORS */
/* BREAKPOINTS */
.explore {
  text-align: center;
  background-color: rgba(211, 211, 211, 0.2);
  padding-bottom: 3rem;
  margin-bottom: 40px; }
  .explore h2 {
    margin: 0;
    padding: 2rem 0;
    font-size: 2rem; }
  .explore p {
    font-size: 1rem; }
  .explore button {
    color: white;
    font-weight: 300;
    padding: 1rem 2rem;
    margin-top: 30px;
    background-image: linear-gradient(to top, #9356DC, #FF79DA);
    border: none;
    border-radius: 30px;
    box-shadow: 0px 15px 19px -14px rgba(0, 0, 0, 0.38);
    transition: transform 200ms;
    padding-top: 1rem; }
  .explore button:hover {
    transform: scale(1.02);
    opacity: 0.9; }

/* BACKGROUND COLORS */
/* BUTTONS AND :: COLORS */
/* BREAKPOINTS */
.functioning-menu ol {
  padding-left: 15px;
  list-style-type: none;
  display: flex;
  gap: 1rem; }
  @media (max-width: 1000px) {
    .functioning-menu ol {
      flex-direction: column; } }
  .functioning-menu ol li {
    white-space: nowrap;
    background-color: rgba(211, 211, 211, 0.2);
    padding: 1rem 2rem;
    flex-grow: 1;
    border-radius: 10px;
    padding: 1.5rem 2rem;
    box-shadow: 0px 15px 19px -14px rgba(0, 0, 0, 0.38); }
    .functioning-menu ol li span {
      padding: 0.4rem 0.65rem;
      color: white;
      background-color: #9356DC;
      border-radius: 30px;
      position: relative;
      left: -40px; }
    .functioning-menu ol li i.fa-solid {
      position: relative;
      left: -20px;
      color: rgba(0, 0, 0, 0.077); }
    .functioning-menu ol li:hover {
      transform: scale(1.03);
      background-color: rgba(184, 101, 211, 0.2); }

/* BACKGROUND COLORS */
/* BUTTONS AND :: COLORS */
/* BREAKPOINTS */
.menus {
  background-color: rgba(211, 211, 211, 0.2);
  padding-bottom: 80px; }
  .menus h2 {
    margin-top: 70px;
    padding-top: 3rem;
    padding-bottom: 1rem; }
  .menus .menus__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem; }
    @media (max-width: 1000px) {
      .menus .menus__cards {
        grid-template-columns: repeat(1, 1fr); } }
    .menus .menus__cards .new {
      position: relative; }
    .menus .menus__cards .new::before {
      content: "nouveau";
      position: absolute;
      /* parent=relative -> child=absolute */
      height: 2rem;
      width: 5rem;
      background-color: #99E2D0;
      color: #1b6150;
      display: grid;
      place-items: center;
      top: 1.5rem;
      right: 1.5rem; }
  .menus .card {
    border-radius: 2rem;
    background-color: white;
    box-shadow: 0px 15px 19px -14px rgba(0, 0, 0, 0.38); }
    .menus .card__image {
      height: 15rem;
      border-radius: 2rem 2rem 0 0;
      background-size: cover;
      /* have to use this property with css background img, 
      object fit only available for html insert img */ }
    .menus .card__image-1 {
      background-image: url(../../Assets/menu-1.jpg); }
    .menus .card__image-2 {
      background-image: url(../../Assets/menu-2.jpg); }
    .menus .card__image-3 {
      background-image: url(../../Assets/menu-3.jpg); }
    .menus .card__image-4 {
      background-image: url(../../Assets/menu-4.jpg); }
    .menus .card__description {
      position: relative; }
      .menus .card__description h3, .menus .card__description p {
        margin: 0.5rem;
        margin-left: 1rem; }
      .menus .card__description i {
        font-size: 2rem;
        position: absolute;
        right: 1rem;
        top: 50%;
        /* half height parent */
        transform: translateY(-50%);
        /* half Y-size element */ }
      .menus .card__description .fa-solid {
        color: transparent;
        background-image: linear-gradient(to top, #9356DC, #FF79DA);
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: all 200ms; }
        .menus .card__description .fa-solid:hover.fa-solid {
          opacity: 1; }

/* BREAKPOINTS */
/* BACKGROUND COLORS */
/* BUTTONS AND :: COLORS */
/* BACKGROUND COLORS */
/* BUTTONS AND :: COLORS */
/* BREAKPOINTS */
footer {
  padding-top: 40px;
  padding-left: 2rem;
  height: 12rem;
  background-color: rgba(17, 17, 17, 0.85); }
  footer h2 {
    font-family: "shrikhand", "sans-serif";
    color: white;
    font-weight: 500;
    margin: 0; }
  footer p, footer a {
    color: white; }

.banner img {
  display: block;
  width: 100%;
  height: 40vh;
  object-fit: cover;
  object-position: center; }

.resto_main {
  position: relative;
  margin-top: -3rem;
  border-radius: 2rem 2rem 0 0;
  background: #F6F6F6; }
  .resto_main h2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    font-family: "shrikhand", sans-serif; }
    @media (min-width: 1000px) {
      .resto_main h2 {
        text-align: center; } }
  .resto_main i {
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    bottom: 2.5rem; }
  .resto_main .fa-solid {
    color: transparent;
    background-image: linear-gradient(to top, #9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 200ms; }
    .resto_main .fa-solid:hover.fa-solid {
      opacity: 1; }

.main-restaurant {
  padding: 0 2rem;
  background: #F6F6F6;
  height: 100vh; }
  .main-restaurant h3 {
    padding: 2rem 0; }
  .main-restaurant .menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem; }
    @media (max-width: 1000px) {
      .main-restaurant .menu {
        grid-template-columns: repeat(1, 1fr); } }
    .main-restaurant .menu > * {
      background: white; }
    .main-restaurant .menu .menu_category {
      border-radius: 1rem;
      overflow: hidden; }
      .main-restaurant .menu .menu_category .menu-item {
        display: flex;
        gap: 0.5rem;
        box-shadow: 0px 15px 19px -14px rgba(0, 0, 0, 0.38); }
        .main-restaurant .menu .menu_category .menu-item .menu-item_description {
          padding: 1rem;
          overflow: hidden; }
          .main-restaurant .menu .menu_category .menu-item .menu-item_description h4, .main-restaurant .menu .menu_category .menu-item .menu-item_description p {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis; }
        .main-restaurant .menu .menu_category .menu-item .menu-item_animation {
          display: grid;
          place-items: center;
          background: #99E2D0;
          border-radius: 0 1rem 1rem 0;
          margin-right: -4rem;
          width: 4rem;
          transition: all 300ms; }
          .main-restaurant .menu .menu_category .menu-item .menu-item_animation i {
            display: grid;
            color: #99E2D0;
            background-color: white;
            border-radius: 50%;
            height: 1.5rem;
            width: 1.5rem;
            place-items: center;
            font-weight: bold; }
        .main-restaurant .menu .menu_category .menu-item:hover .menu-item_animation {
          margin: 0%; }
        .main-restaurant .menu .menu_category .menu-item:hover i {
          animation: rotation 0.5s ease-in-out; }
        .main-restaurant .menu .menu_category .menu-item_description h4 {
          padding: 0; }
        .main-restaurant .menu .menu_category .menu-item .price {
          margin-left: auto;
          font-weight: bold;
          padding: 1rem;
          display: flex;
          align-items: flex-end; }

@keyframes rotation {
  0% {
    transform: rotate(-360deg); }
  100% {
    transform: rotate(0deg); } }

/*# sourceMappingURL=style.css.map */
