@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300;400;500&display=swap");
*, ::before, ::after {
  box-sizing: border-box; }

* a {
  text-decoration: none;
  color: black; }

body {
  margin: 0%;
  font-family: "Roboto", sans-serif; }

main {
  padding: 0 2rem; }

h2 {
  padding: 2rem 0;
  margin: 1rem; }

h3, p {
  margin: 0; }

header {
  font-family: 'Shrikhand', cursive;
  text-align: center;
  box-shadow: 0px 15px 19px -14px rgba(0, 0, 0, 0.38);
  padding: 0.3rem;
  margin: 0;
  position: relative; }

/* BREAKPOINTS */
/* BACKGROUND COLORS */
/* BUTTONS AND :: COLORS */
main .city {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
  background-color: rgba(0, 0, 0, 0.077);
  padding: 0.3rem; }
  main .city i {
    font-size: 1.5rem; }

/* BREAKPOINTS */
/* BACKGROUND COLORS */
/* BUTTONS AND :: COLORS */
.explore {
  text-align: center;
  background-color: rgba(211, 211, 211, 0.2);
  padding-bottom: 3rem; }
  .explore h2 {
    margin: 0;
    padding: 2rem 0;
    font-size: 2rem; }
  .explore p {
    font-size: 1rem; }
  .explore button {
    color: white;
    font-weight: 300;
    padding: 1rem 2rem;
    margin-top: 30px;
    background-image: linear-gradient(to top, #9356DC, #FF79DA);
    border: none;
    border-radius: 30px;
    box-shadow: 0px 15px 19px -14px rgba(0, 0, 0, 0.38);
    transition: transform 200ms;
    padding-top: 1rem; }
  .explore button:hover {
    transform: scale(1.02);
    opacity: 0.9; }

/* BREAKPOINTS */
.functioning-menu ol {
  padding-left: 15px;
  list-style-type: none;
  display: flex;
  gap: 1rem; }
  @media (max-width: 1000px) {
    .functioning-menu ol {
      flex-direction: column; } }
  .functioning-menu ol li {
    background-color: rgba(211, 211, 211, 0.2);
    padding: 1rem 2rem;
    flex-grow: 1;
    border-radius: 10px;
    padding: 1.5rem 2rem;
    box-shadow: 0px 15px 19px -14px rgba(0, 0, 0, 0.38); }
    .functioning-menu ol li span {
      padding: 0.4rem 0.65rem;
      color: white;
      background-color: #9356DC;
      border-radius: 30px;
      position: relative;
      left: -40px; }
    .functioning-menu ol li i.fa-solid {
      position: relative;
      left: -20px;
      color: rgba(0, 0, 0, 0.077); }
    .functioning-menu ol li:hover {
      transform: scale(1.03);
      background-color: rgba(184, 101, 211, 0.2); }

/* BREAKPOINTS */
/* BACKGROUND COLORS */
/* BUTTONS AND :: COLORS */
.menus {
  background-color: rgba(211, 211, 211, 0.2);
  padding-bottom: 80px; }
  .menus h2 {
    margin-top: 70px; }
  .menus .menus__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem; }
    @media (max-width: 1000px) {
      .menus .menus__cards {
        grid-template-columns: repeat(1, 1fr); } }
    .menus .menus__cards .new {
      position: relative; }
    .menus .menus__cards .new::before {
      content: "nouveau";
      position: absolute;
      /* parent=relative -> child=absolute */
      height: 2rem;
      width: 5rem;
      background-color: #99E2D0;
      color: #1b6150;
      display: grid;
      place-items: center;
      top: 1.5rem;
      right: 1.5rem; }
  .menus .card {
    border-radius: 2rem;
    background-color: white;
    box-shadow: 0px 15px 19px -14px rgba(0, 0, 0, 0.38); }
    .menus .card__image {
      height: 15rem;
      border-radius: 2rem 2rem 0 0;
      background-size: cover;
      /* have to use this property with css background img, 
      object fit only available for html insert img */ }
    .menus .card__image-1 {
      background-image: url(../../Assets/menu-1.jpg); }
    .menus .card__image-2 {
      background-image: url(../../Assets/menu-2.jpg); }
    .menus .card__image-3 {
      background-image: url(../../Assets/menu-3.jpg); }
    .menus .card__image-4 {
      background-image: url(../../Assets/menu-4.jpg); }
    .menus .card__description {
      position: relative; }
      .menus .card__description h3, .menus .card__description p {
        margin: 0.5rem;
        margin-left: 1rem; }
      .menus .card__description i {
        font-size: 2rem;
        position: absolute;
        right: 1rem;
        top: 50%;
        /* half height parent */
        transform: translateY(-50%);
        /* half Y-size element */ }
      .menus .card__description .fa-solid {
        color: transparent;
        background-image: linear-gradient(to top, #9356DC, #FF79DA);
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: all 200ms; }
        .menus .card__description .fa-solid:hover.fa-solid {
          opacity: 1; }

/* BREAKPOINTS */
/* BACKGROUND COLORS */
/* BUTTONS AND :: COLORS */
footer {
  padding-left: 2rem;
  height: 15rem;
  background-color: rgba(17, 17, 17, 0.85); }
  footer h2 {
    font-family: "shrikhand", "sans-serif";
    color: white;
    font-weight: 500;
    margin: 0; }
  footer p, footer a {
    color: white; }

/*# sourceMappingURL=style.css.map */
