// LOADER KEYFRAMES

@keyframes disappear {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);

    }
}

@keyframes spin {
    from{
        transform: rotate(-360deg);

    }
    to{
        transform: rotate(360deg);

    }
}

///////////////////////////

// MENU LIST ON RESTAURANT PAGE  

@keyframes rotation {   //check child menu list
    0%{
        transform: rotate(-360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes appear {  // appear child menu list
    0%{
        transform: translateY(-50%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}

