// MAIN PAGE

/* BACKGROUND COLORS */
$main-primary-color: rgba(211, 211, 211, 0.2);
$main-strong-color: rgba(0, 0, 0, 0.077);

/* BUTTONS AND :: COLORS */

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;




///////////////////////////////////////